<!DOCTYPE html>
<html>
  <head>
    <title>Artwork</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap" rel="stylesheet"> 

    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/index.css">
    <script src="static/js/index.js"></script> 
  </head>
  <body>

    <header>
      <h1>Artwork</h1>
    </header>

    <aside>

      <header>
        <h1>Expressions</h1>
      </header>

      <ol class="expression-list">
        <li class="expression">bleh</li>
        <li class="expression">bleh</li>
        <li class="expression">bleh</li>
        <li class="expression">bleh</li>
        <li class="expression">bleh</li>
        <li class="expression">bleh</li>
        <li class="expression">bleh</li>
        <li class="expression">bleh</li>
        <li class="expression">bleh</li>
        <li class="expression">bleh</li>
        <li class="expression">bleh</li>
        <li class="expression">bleh</li>
        <li class="expression">bleh</li>
        <li class="expression">bleh</li>
        <li class="expression">bleh</li>
        <li class="expression">bleh</li>
        <li class="expression">bleh</li>
        <li class="expression">bleh</li>
        <li class="expression">bleh</li>
        <li class="expression">bleh</li>
        <li class="expression">bleh</li>
        <li class="expression">bleh</li>
        <li class="expression">bleh</li>
        <li class="expression">bleheeee</li>
      </ul>

    </aside>
    <div class="sidebar">

  </body>
</html> 