:root {
    --main-start: rgb(255, 255, 255);
    --main-end: rgb(255, 255, 255);
    --expressions-start: rgb(255, 255, 255);
    --expressions-end: rgb(255, 255, 255);
    
    /*
    --main-start: rgb(134, 251, 50);
    --main-end: rgb(50, 248, 251);
    --expressions-start: rgb(41, 4, 174);
    --expressions-end: rgb(205, 2, 2);
    */



    --reset-start: rgb(255, 255, 255);
    --reset-end: rgb(255, 255, 255);

    --bg-top-left: rgb(86, 86, 86);
    --bg-top-right: rgb(86, 86, 86);
    --bg-bottom-left: rgb(86, 86, 86);
    --bg-bottom-right: rgb(86, 86, 86);
    --bg-centre: rgb(0, 0, 0);

    --load-1: #fff;
    --load-2: #fff;
    --load-3: #fff;

    --r-colour: rgb(255, 255, 255);

    --background-colour-1: rgb(0, 0, 0);
    --background-colour-2: rgb(255, 255, 255);

    --reset-shade: #000;
}
@keyframes fading-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fading-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes buffer_wheel {
    from {
        transform: rotate(0deg) translateX(15px) rotate(0deg);
        background-color: var(--load-1); 
    }
    33% {background-color: var(--load-2);}
    66% {background-color: var(--load-3);}
    to {
        transform: rotate(360deg) translateX(15px) rotate(-360deg);
        background-color: var(--load-1);
    }
}

.circles {
    float: right;
    margin-top: 26px;
    margin-right: 8px;
}

.circle {
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: buffer_wheel 1.5s linear infinite;
}
#circle_1 {animation-delay: -1.25s;}
#circle_2 {animation-delay: -0.25s;}
#circle_3 {animation-delay: -0.5s;}
#circle_4 {animation-delay: -0.75s;}
#circle_5 {animation-delay: -1s;}
#circle_6 {animation-delay: -0.001s;}

#tooltip_box {
    animation: none;
    padding: 25px;
    margin-left: -20px;
    margin-top: -20px;
    z-index:100;
    position: relative;
}

body {
    margin-top: 0%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y:hidden;
    overflow-x:hidden;
    background: linear-gradient(to top left, var(--bg-bottom-right), rgba(0, 0, 0, 0), var(--bg-top-left)), linear-gradient(to top right, var(--bg-bottom-left), rgba(0, 0, 0, 0), var(--bg-top-right)) var(--bg-centre);
}
/*
#main_h1{
    background: linear-gradient(30deg, var(--main-start), var(--main-end));
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(0, 0, 0, 0);
    width: fit-content;
    margin: 10px;
}
#expression_h1{
    background: linear-gradient(30deg, var(--expressions-start), var(--expressions-end));
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(0, 0, 0, 0);
    width: fit-content;
    margin: 10px;
}
.main_header {
    
    background-color: #303030;
    box-shadow: inset 0px -20px 100px -40px rgb(0, 0, 0);
    
    font-size: 1.4em;
    font-family: 'Carter One', cursive;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 70px;
    padding: 5px;
    margin: 0;
}*/

.canvas_container {
    display: flex;
    flex-flow: row;
    float: right;
    width: 56%;
    height: 100vh;
}

#canvas {
    padding: 0;
    margin: auto;
    display: block;
    height: 53vw;
    image-rendering: pixelated;
}

.controller_menu {
    height: 95vh;
    align-items: left;
    width: 44%;
    margin-top: 2.5vh;
    display: flex;
    float: left;
    flex-flow: column;
    
}
.expressions_header {
    /*
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 20px;
    */
    
    background-color: #525252;
    color: #fff;
    box-shadow: inset 0px -25px 100px -40px rgb(0, 0, 0);
    border-radius: 14px 14px 0px 0px;
    
    margin: 10px;
    margin-bottom: 0px;
    padding-left: 16px;
    height: 80px;
}

.expressions_footer {
    
    background-color: #525252;
    box-shadow: inset 0px 5px 100px -40px rgb(0, 0, 0);
    border-radius: 0px 0px 14px 14px;
    
    height: 80px;
    margin: 10px;
    margin-top: 0px;
    
    justify-content: left;
    display: flex;
}

.reset_button {
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 15px;

    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;

    border-radius: 10px;
    border-width: 0;

    box-shadow: inset 0px 0px 18px rgb(47, 47, 47),
                0px 0px 8px rgb(29, 29, 29);
    background-color: #525252;

    
}

.reset_button:hover {
    box-shadow: inset 0px 0px 18px rgb(47, 47, 47),
                0px 0px 8px rgb(29, 29, 29),
                0px 0px 8px rgb(29, 29, 29);
}
/* when reset button is being pressed*/
.reset_button:active {
    background-color: #424242;
}
    
#reset_h1 {
    font: 1.3em "carter one";
    font-weight: 500;
    margin: 2px;
    
    background: linear-gradient(30deg, var(--reset-start), var(--reset-end));
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0);
    width: fit-content;
}
    
/*
.reset_button {
    margin-bottom: auto;
    font: 1.2em 'Inconsolata', cursive;
    font-weight: 600;
    margin-top: auto;
    margin-left: 20px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    border-radius: 18px;
    border-style: hidden;
    box-shadow: inset -2px 0px 30px -5px var(--reset-shade),
                inset -5px -5px 15px 2px #000,
                0px 0px 10px 0px rgb(58, 58, 58);
    background-color:rgb(86, 86, 86);
}*/

#expressions_list {

    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;

    height: 100%;

    overflow-y: scroll;

    background-color: #414046;
    box-shadow: inset -5px -20px 80px 0px rgb(57, 57, 57),
    inset 0px -10px 20px -5px rgb(0,0,0);
}
.magic-slider {
    display: flex;
    height: 50px;
}
.slider {

    border-radius: 10px;
    margin: 16px;
    margin-left: 12px;
    margin-right: 12px;
    height: 18px;
    border-style: none;
    background-color: #525252;
    box-shadow: inset 0px -25px 100px -40px rgb(0, 0, 0);
}

.slider_text {
    background: linear-gradient(30deg, var(--background-colour-1), var(--background-colour-2));
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0);

    text-align: center;
    font-size: 25px;
    

    font-family: 'Inconsolata', monospace;
    font-weight: 550;

    margin: 0;
}

.slider-value {
    box-shadow: inset -10px -20px 40px -20px rgba(0, 0, 0, 0.5);
    
    border-radius: 5px;
    border-style: none;

    width:130px;
    margin: auto;
    margin-left: 0;
    margin-right: 12px;
    height: 65%;
    overflow-x: hidden;
    padding: 2px;
    
    padding-left: 4px;
    padding-right: 4px;

    justify-content: center;
}

.slider-loop {

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    box-shadow: inset -10px -20px 40px -10px rgba(0, 0, 0, 0.5);
    
    border-radius: 5px;
    border-style: none;

    width: 40px;
    margin: auto;
    margin-left: 0;
    margin-right: 1.5%;
    height: 65%;
    overflow-x: hidden;

    justify-content: center;
    cursor: pointer;
}
.expression {
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    padding: 8px;
    margin: 2px;
    width: 94%;

    background-color: #9aadaf;
    border-radius: 4px;
    border-style:inset;
}
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-shadow: inset 8px 5px 15px -5px rgba(0,0,0,0.7 );
    border-width: 0px;
    border-color: rgba(0,0,0,0);
    height: 30px;
    width: 30px;
    border-radius: 17.5px;
    cursor:grab;
  }

  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    box-shadow: inset 8px 5px 15px -5px rgba(0,0,0,0.7 );
    border-width: 0px;
    border-color: rgba(0, 0, 0, 0);
    height: 25px;
    width: 25px;
    border-radius: 17.5px;
    cursor:grab;
  }

  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    box-shadow: inset 8px 5px 15px -5px rgba(0,0,0,0.7 );
    border-width: 0px;
    border-color: rgba(0,0,0,0);
    height: 25px;
    width: 25px;
    cursor: grab;
}

input[type=range]::-webkit-slider-thumb {background: var(--r-colour);}
input[type=range]::-moz-range-thumb {background: var(--r-colour);}
input[type=range]::-ms-thumb {background: var(--r-colour);}
/*
@for $i from 1 through 12 {
    input[type=range]#r#{$i} {
        &::-webkit-slider-thumb,
        &::-moz-range-thumb,
        &::-ms-thumb { background: var(--r#{$i}); }
    }
}
*/


/* Styles for different browsers to clear defaults */
input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}
  
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
  
input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
  
input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
}